@font-face {
    font-family: 'poppins-bold';
    src: url(Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'poppins-medium';
    src: url(Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'poppins-semibold';
    src: url(Poppins/Poppins-SemiBold.ttf);
}
body {
    background-image: url(images/bg-intro-desktop.png);
    background-color: #FF7979;
}
h1 {
    font-family: 'poppins-bold';
    color: white;
}
.content-container p {
    font-family: 'poppins-medium';
    color: white;
}
/* .form-container {
    background-color: white;
} */

#form {
    display: flex;
    flex-direction: column;
}
.input{
    margin-bottom: 20px;
}