@font-face {
    font-family: 'poppins-bold';
    src: url(Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'poppins-medium';
    src: url(Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'poppins-semibold';
    src: url(Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'poppins-regular';
    src: url(Poppins/Poppins-Regular.ttf);
}
.bold{
    font-family: 'poppins-bold';
}
body {
    background-image: url(images/bg-intro-desktop.png);
    background-color: #FF7979;
}
h1 {
    font-family: 'poppins-bold';
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.29px;
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 20px;
}
.content-container p {
    font-family: 'poppins-medium';
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 35px;
}
.trial-container {
    width: 80%;
    background-color: #5E54A4;
    color: white;
    font-family: 'poppins-regular';
    text-align: center;
    line-height: 26px;
    letter-spacing: 0.27px;
    height: 88px;
    margin: auto auto 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trial-container p {
    width: 50%;
}
.form-container {
    background-color: white;
}

#form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 30px;
}
.submit {
    color: white;
    border: none;
    background-color: #38CC8B;
    box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.0909);
    height: 56px;
    font-size: 15px;
    line-height: 26px;
    font-family: 'poppins-semibold';
}
.submit:hover{
    background-color: #77E2B3;
    transition: 0.15s;
    transition-timing-function: ease-in;
    
}
.input{
    margin-bottom: 20px;
}
.terms{
    color: #BAB7D4;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    font-family: 'poppins-medium';
    width: 60%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.terms .bold {
    color: #FF7979;
}